# Archivos y carpetas a ignorar por git
# Datos originales y procesados
/data/
/figures/
/notebooks/__pycache__/
*.pyc
__pycache__/
.DS_Store
*.csv
*.xlsx
*.h5
*.hdf5
*.pkl
*.pickle
*.joblib
*.log
# Entornos virtuales
.env/
.venv/
venv/
ENV/
# Archivos de configuración de IDE
.vscode/
.idea/
# Salidas de Jupyter
.ipynb_checkpoints/
# Modelos y checkpoints
*.pth
*.pt
*.sav
*.npz
# Otros
*.bak
*.tmp
